.video-container {
  width: 100%;
  height: 100vh; /* Make the container take full viewport height */
  overflow: hidden; /* Ensure the video doesn’t overflow out of the container */
}



.content {
  background-image: url("https://th.wallhaven.cc/small/1p/1p6d79.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 3; /* Content on top of the video */
  text-align: center;
  padding: 20px;
}

h1, p {
  margin: 0;
}
